.thong-tin-rap-chieu-phim-item{
        height: 90px;
    &::after{
            content : '';
            display: block;
            width: calc(100% - 40px);
            position: absolute;
            bottom: 0;
    }
    img{
            border-radius: 5px;
    }
}