
footer {
    background:$color-black-2;
    z-index: 5;
    bottom:0;
    hr{
        border-top: 1px solid $color-black-3;
    }
    .imgLogoFooterDownLeft{
        width: 100px;
        height: 100px;
    }
    
    .imgLogoFooterDownRight{
        width: 100px;
        height: 50px;
    }
    .doiTacItem {
        display: block;
        border-radius: 50%;
        background-color: $color-while-0;
        margin: 0 20px 20px 0;
    }
    .logoDoiTacSize{
        width: 40px;
        height: 40px;
    }
} 


