.border-menu-item{
    border: 1px solid $color-while-1;
    background-color: $color-while-0;
    z-index: 50;
    .menu-content-item{
        padding: 20px;
        height: 90px;
    }
    .gach-duoi-item::after{
        content : '';
        display: block;
        width: calc(100% - 40px);
        border: 1px solid $color-gray-0;
        position: absolute;
        bottom: 0;
        border-color: $color-while-1;
    }
    .nav-link.gach-duoi-item.active{
        background-color: $color-tran;
        color: $color-black-1;
        opacity: 1;
    }
    .nav-link.gach-duoi-item{
        opacity: 0.5;
    }
    .khong-co-lich-chieu{
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .item-right-pills-menu {
        min-height:50px;
    }
}

