
.minWidthDsGhe{
    min-width: 726px;
    .ghe {
        width: 35px;
        height: 35px;
        font-size: 0.8rem;
        border-radius: 5px;
        border: none;
        margin: 5px;
    }
    .gheVip {
        background-color: $color-orange-0;
    }
    .gheDaDat{
        background-color: $color-black-2;
        cursor: no-drop !important;
        color: $color-while-0;
    }
    .gheDangDat{
        background-color: $color-green-0;
        color: $color-while-0;
    }
    .thong-tin-dat-ve{
        box-shadow: 0px 1px 5px $color-gray-0;
    }
}